:root {
    --primary-color: #4B5052;
    --secondary-color: #F9B407;
    --accent-color-one: #F27405;
    --accent-color-two: #F2F2F2;

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --font-size-large: 24px;
    --font-size-standard: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color-one);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a,
header a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color-one);
    color: #FFF;
}

.hero article {
    position: absolute;
    bottom: 0px;
    background-color: var(--primary-color);
    opacity: 0.7;
    color: #FFF;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 16px;
}

section h2 {
    background-color: var(--primary-color);
    text-align: center;
    color: #FFF;
    padding: 10px;
}

section p {
    color: var(--primary-color);
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

footer p {
    color: var(--primary-color);
}

.socialmedia img {
    display: inline-block;
    width: 60px;
    height: auto;
    margin: 5px;
}