:root {
    --primary-color: #4B5052;
    --secondary-color: #F9B407;
    --accent1-color: #F27405;
    --accent2-color: #F2F2F2;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #4B5052;
    margin-bottom: 10px;
}

header img {
    width: 100px;
    margin: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

header nav ul li {
    flex: 1 1 auto;
}

ul li a {
    text-decoration: none;
}

a:link,
a:visited {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #000;
}

.hero article {
    position: absolute;
    bottom: 0px;
    background-color: var(--primary-color);
    opacity: 0.7;
    color: var(--accent2-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin: 16px;
}

section h2 {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--accent2-color);
    padding: 10px;
}

section p {
    color: var(--primary-color);
}

#history {
    display: grid;
    grid-template: 0.5fr 2fr / 2fr 1fr 2fr;
    align-items: center;
}

#history h2 {
    grid-area: 1 / 1 / 2 / 4;
}

#history img {
    width: 100%;
}

.gallery {
    display: flex;
}

.gallery figure {
    width: 20%;
    margin: 20px;
}

.gallery figcaption {
    font-size: .8rem;
    text-align: center;
}

.gallery figure img {
    width: 100%;
}

footer {
    border-top: 1px solid var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
}

footer p,
footer nav {
    margin: 5px 10px;
}

footer p {
    color: var(--primary-color);
    grid-column: 1 / 3;
    grid-row: 1;
    justify-self: center;
}

.socialmedia {
    grid-column: 2 / 3;
    grid-row: 1;
}

.socialmedia img {
    display: inline-block;
    width: 35px;
    height: auto;
    margin: 5px;
}