* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 50px auto;
}

table caption {
    font-size: 1rem;
    font-weight: 600;
    margin: 10px;
}

th,
td {
    /* border: 1px solid #bdbdbd; */
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: rgb(0 0 0);
    color: white;
    font-weight: 700;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #edeef2;
}