* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: darkblue;
    --normal-border: 1px solid #000000;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
}

h1 {
    color: var(--main-color);
    border-bottom: 1px solid #000;
}

main img {
    width: 150px;
    height: auto;
    border: var(--normal-border);
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: stretch;
    align-content: center;
}

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 7.5%;
    left: 100px;
}

aside figure figcaption {
    font-size: 0.6rem;
}

footer {
    margin-top: 1em;
    border-top: var(--normal-border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}